.game-container {
    margin-top: 105px;
    margin-bottom: 140px;
}

@media screen and (min-width: 850px) {
    .game-container {
        /* height: 48vh; */
        margin-top: 64px;
        margin-bottom: 30px;
    }
}