.game-container {
    /* border: 2px solid salmon; */
    height: 37vh;
    margin: 0;
    margin-top: 105px;
    margin-bottom: 130px;

}


@media screen and (min-width: 850px) {
    .game-container {
        height: 48vh;
        margin-top: 64px;
        margin-bottom: 80px;
    }
}